body {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 16px;
  width: 800px;
  margin: auto;
  background-color: white;
  color: black;
  line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}
#main{
  background-color:white;
  padding: 10px 20px;
  margin-top: 00px;
}
#mutebox {
  float: right;
  clear: right;
  width: 280px;
  padding-right: 20px;
}
#mutebox li {
  list-style-type: none;
}
#logo {
  width; 200px;
}
a:link {
  color: green;
  text-decoration: none;
  border-bottom: thin dotted green;
}
a:visited {
  color: gray;
  text-decoration: none;
  border-bottom: thin dotted gray;
}
a:hover {
  background: #DDDDDD;
}
li {
  list-style-type: square;
}
pre {
  font-size: 12px;
}
